@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  /* === Colors === */
  /* Backgrounds */
  --color-surface-primary: #ffffff; /* sections, product-cards*/
  --color-surface-secondary: #f8f8f8; /* newsletter section*/
  --color-surface-badge: #f55157; /* sale badge*/
  --color-surface-dark: #1d1f1f; /* footer bottom-bar*/
  --color-surface-shade-a: #e0f6f0; /* ads-section-card-1 */
  --color-surface-shade-b: #ffefda; /* ads-section-card-2 */
  --color-surface-shade-c: #fddcdd; /* ads-section-card-3 */
  /* Accent */
  --color-accent-primary: #62d0b6; /* accent-color */
  --color-accent-primary-hover: #81d9c5;
  --color-accent-primary-active: #38bc9e;
  --color-accent-primary-disabled: #d0f1e9;
  --color-accent-secondary: #62d0b6; /* accent-color */
  /* Content */
  --color-content-light: #ffffff;
  --color-content-subtle: #f8f8f8;
  --color-content-muted: #eeeeee;
  --color-content-dim: #a5a5a5;
  --color-content-base: #666666;
  --color-content-dark: #333333;
  --color-content-sale: #f55157;
  --color-content-border: #d6d6d6;
  /* === Buttons === */
  --color-button-outline: #ffffff;
  /* Primary */
  --color-button-primary: #62d0b6;
  --color-button-primary-hover: #81d9c5;
  --color-button-primary-active: #38bc9e;
  --color-button-primary-disabled: #d0f1e9;
  /* Secondary */
  --color-button-secondary: #1d1f1f;
  --color-button-secondary-hover: #444444;
  --color-button-secondary-active: #333333;
  --color-button-secondary-disabled: #eeeeee;
  /* Tertiary */
  --color-button-tertiary: #f55157;
  --color-button-tertiary-hover: #f77479;
  --color-button-tertiary-active: #ca4146;
  --color-button-tertiary-disabled: #fddcdd;
  /* Icons */
  --color-icon-default: #b6b6b6;
  --color-filled-star: #ffc62a;
  --color-filled-heart: #f55157;
  --color-empty: #b6b6b6;

  /* === Font Sizes === */
  /* Headings */
  --text-heading-small: 1.125rem; /* [18px] */
  --text-heading-medium: 1.25rem; /* [20px] */
  --text-heading-large: 1.5rem; /* [24px] */
  --text-heading-xlarge: 2.25rem; /* [36px] */
  --text-heading-huge: 3rem; /* [48px] */
  /* Body text */
  --text-body-micro: 0.75rem; /* [12px] */
  --text-body-small: 0.875rem; /* [14px] */
  --text-body-base: 1rem; /* [16px] */
  --text-body-medium: 1.25rem; /* [20px] */
  /* Buttons */
  --text-button-base: 1rem; /* [16px] */

  /* === Font Weights === */
  /* Headings */
  --font-weight-heading-bold: 700;
  --font-weight-heading-medium: 500;
  /* Font Weights - Body */
  --font-weight-body-regular: 400;
  /* Font Weights - Button */
  --font-weight-button-medium: 500;

  /* === Spacing === */
  --spacing-micro: 0.125rem; /* [2px] */
  --spacing-xs: 0.25rem; /* [4px] */
  --spacing-sm: 0.5rem; /* [8px] */
  --spacing-md: 1rem; /* [16px] - spacing between cards/products/banners on mobile, section horizontal padding on mobile */
  --spacing-lg: 1.5rem; /* [24px] - spacing between cards/products/banners on large screen */
  --spacing-xl: 2rem; /* [32px] */
  --spacing-2xl: 2.5rem; /* [40px] */
  --spacing-3xl: 3rem; /* [48px] - vertical spacing between sections on mobile */
  --spacing-4xl: 3.5rem; /* [56px] - section vertical padding, vertical spacing between sections on large screen */
  --spacing-5xl: 4rem; /* [64px] */
  --spacing-6xl: 4.5rem; /* [72px] */
  --spacing-7xl: 5rem; /* [80px] */
  --spacing-8xl: 5.5rem; /* [88px] */
  --spacing-9xl: 6rem; /* [96px] */
  --spacing-10xl: 12.5rem; /* [200px] - section horizontal padding on large screen */

  /* Border Radius */
  --radius-small: 0.25rem; /* [4px] */
  --radius-medium: 0.5rem; /* [8px] */
  --radius-large: 1rem; /* [16px] */
  --radius-xlarge: 1.5rem; /* [24px] */
  --radius-2xlarge: 2rem; /* [32px] */
}

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --destructive-foreground: oklch(0.637 0.237 25.331);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

button,
Link {
  @apply cursor-pointer;
}
.responsive-margin-y {
  /* Section vertical margin */
  @apply my-12 md:my-13 lg:my-14;
}

.responsive-padding-x {
  /* Section horizontal padding */
  @apply px-4 md:px-25 lg:px-50;
}

.responsive-padding-y {
  /* Section vertical padding */
  @apply py-12 md:py-13 lg:py-14;
}
.responsive-margin-y {  /* Section vertical margin */  
  @apply my-12 md:my-13 lg:my-14;
}

/*.responsive-margin-y { /* Section vertical margin */
  /* @apply my-12 md:my-13 lg:my-14;
  }
.responsive-padding-x { /* Section horizontal padding */
  /* @apply px-4 md:px-25 lg:px-50;
  }
.responsive-padding-y {  
    /* Section vertical padding */ 
 /*  @apply py-12 md:py-13 lg:py-14;

  }